/* You can add global styles to this file, and also import other style files */
.DspFlxCls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.QtyIptCls{
    width: 50px;
}